<h1>Testing Purposes</h1>
<div style="padding: 0 30px">
  <basf-wxp-download-center
    [titleHeading]="titleHeading"
    [title]="title"
    [noResultsLabel]="noResultsLabel"
    [showResultCount]="showResultCount"
    [searchbarHeadline]="searchbarHeadline"
    [searchbarAutocomplete]="searchbarAutocomplete"
    [searchbarPrefill]="searchbarPrefill"
    [industry]="industry"
    [operationDivision]="operationDivision"
    [pimID]="pimID"
    [showFilterBarInitially]="showFilterBarInitially"
  ></basf-wxp-download-center>
</div>
